@media only screen and (max-width: 767px){
    .container{
        width: (560/640*100%);
//        padding: 0 (40/640*100%);
        margin: 0 auto;
    }
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    h1, h2, p, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    body{
        background: #fff;
    }
    .header_mobile{
        display: block;
        background: #fff;
        margin-bottom: 26px;
        .menu{
            margin-top: 22px;
            height: (112/2px);
            .clearfix;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            &__item{
                width: (110/640*100%);
                height: 110/2px;
                float: left;
                border-right: 1px solid #cccccc;
                position: relative;
                box-sizing: border-box;
                &-logo{
                    width: (200/640*100%);
                }
                &:last-child{
                    border-right: 0;
                }
                &-img{
                    width: 40%;
                    position: absolute;
                    left: 49%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    &_vector{
                        width: 45%;
                    }
                    &_place{
                        width: 30%;
                    }
                    &_logo{
                        width: 100%;
                    }
                }
            }
        }
    }
    .header{
        display: none;
    }
    .page{
        padding: 0;
        background: #fff;
        &:extend(.container);
        &__header{
            display: none;
        }
        &__nav{
            display: none;
        }
        &__bread-crumbs{
            display: none;
        }
        &__content{
            width: 100%;
            position: relative;
            background: #f5efe6;
            &-top-image{
                position: absolute;
                width: 100%;
                height: auto;
            }
            &-logo-image{
                width: (180/560*100%);
                height: auto;
                margin: 0 auto;
                padding: 41px 0 33px;
                display: block;
            }
            &-about{
                width: (500/560*100%);
                margin: 0 auto;
                text-align: center;
                &_lent{
                    width: 100%;
                    position: relative;
                    height: 36px;
                    &-img{
                        display: none;
                        &-mob{
                            display: block;
                            width: 90%;
                            height: auto;
                            margin: 0 auto;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &-title{
                        width: 80%;
                        height: 28px;
                        padding: 3px 0;
                        margin: 0px auto;
                        font-size: (16/16em);
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        color: #fff;
                        position: relative;
                        top: 4px;
                        text-transform: uppercase;
                        font-family: tradegothiclight;
                    }
                }
                &_text{
                    color: #000;
                    font: (26/2/16em) helveticaregular;
                    font-weight: bold;
                    padding: 38/2px 0;
                    line-height: 1.4em;
                }
                &_quote{
                    color: #000;
                    width: 100%;
                    margin: 0 auto;
                    &-sign{
                        font-size: (54/2/16em);
                    }
                    &-text{
                        font-size: (26/2/16em);
                        padding-bottom: 8/2px;
                    }
                }
                &_author{
                    font: (22/2/16em) helveticaregular;
                    font-weight: bold;
                    color: #000;
                    padding-top: 11px;
                }
                &_img{
                    padding: 26px 0 28px 12px;
                    margin: 0 auto;
                    width: 58.6%;
                    height: auto;
                    display: block;
                }
            }
            &-mission{
                width: 100%;
                text-align: center;
                &_lent{
                    width: 100%;
                    position: relative;
                    height: 36px;
                    &-img{
                        display: none;
                        &-mob{
                            display: block;
                            width: 80%;
                            height: auto;
                            margin: 0 auto;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &-title{
                        width: 70%;
                        height: 28px;
                        padding: 4px 0;
                        margin: 0px auto;
                        font-size: 0.91em;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        color: #fff;
                        position: relative;
                        top: 4px;
                        text-transform: uppercase;
                        font-family: tradegothiclight;
                    }
                }
                &_text{
                    width: (500/560*100%);
                    color: #000;
                    font: (26/2/16em) helveticaregular;
                    font-weight: bold;
                    padding: 38/2px 0 21px 0;
                    line-height: 1.4em;
                    &-little{
                        padding: 19.5px 0 16px;
                        font: (22/2/16em) helveticaregular;
                        font-weight: normal;
                    }
                }
                &_money{
                    color: #e71c25;
                    .clearfix;
                    width: 90%;
                    margin: 0 auto;
                    padding-left: 10%;
                    position: relative;
                    font-family: tradegothiclight;
                    font-weight: bold;
                    font-size: 100%;
                    .sign{
                        vertical-align: middle;
                        float: left;
                    }
                    .money-num{
                        margin: 0 2.4px;
                        padding: 0 12/2px 0;
                        border: 1px solid #4f4e4d;
                        font-size: 2.5/2em;
                        height: 25px;
                        line-height: 25px;
                        box-sizing: border-box;
                    }
                    .money-pt{
                        padding: 0;
                        bottom: 0;
                        margin-top: -3px;
                        font-size: (48/2/16em);
                    }
                    &:before{
                        content: '$';
                        position: absolute;
                        left: 5.5px;
                        font-size: 3/2em;
                        top: 25/2px;
                    }
                }
                &_img{
                    padding: 0 0 33px;
                    margin: 0 auto;
                    width: (160/560*100%);
                    height: auto;
                    display: block;
                }
            }
            &-events{
                width: (500/560*100%);
                margin: 0 auto;
                text-align: center;
                &_lent{
                    width: 100%;
                    position: relative;
                    height: 36px;
                    &-img{
                        display: none;
                        &-mob{
                            display: block;
                            width: 90%;
                            height: auto;
                            margin: 0 auto;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &-title{
                        width: 80%;
                        height: 28px;
                        padding: 4px 0;
                        margin: 0px auto;
                        font-size: 0.91em;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        color: #fff;
                        position: relative;
                        top: 4px;
                        text-transform: uppercase;
                        font-family: tradegothiclight;
                    }
                }
                &_text{
                    width: (500/560*100%);
                    color: #000;
                    font: (26/2/16em) helveticaregular;
                    font-weight: bold;
                    padding: 38/2px 0 21px 0;
                    line-height: 1.4em;
                    margin: 0 auto;
                    &-top{
                        width: 100%;
                        padding: 18px 0 0 0;
                    }
                    &-bottom{
                        width: 100%;
                        padding: 18px 0 18px;
                    }
                    span{
                        color: #ef2c1e;
                    }
                }
            }
            &-slider{
                width: 400/2px;
                height: 139px;
                position: relative;
                margin: 0 auto;
                &_list{
                    width: 400/2px;
                    margin: 0 auto;
                    background: #fff;
                    height: 139px;
                    border: 2/2px solid #e2e1de;
                    padding: 10/2px;
                    -moz-box-shadow: 6/2px 6/2px 3/2px #222;
                    -webkit-box-shadow: 6/2px 6/2px 3/2px #222;
                    box-shadow: 6/2px 6/2px 3/2px #c1c0bc;
                    &-slide{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            &-bottom{
                height: 120px;
                width: 100%;
                position: relative;
                margin-bottom: 0;
                &-image{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    bottom: 0;
                }
            }
        }
        &__footer{
            border-top: 2px solid #000;
            width: 100%;
            position: relative;
            .clearfix;
            &_border{
                display: none;
            }
            &-logo{
                display: none;
            }
            &-list{
                display: none;
            }
            &-item{
                width: 33.3%;
                float: left;
                margin-right: 0;
                min-height: 190/2px;
                ul li{
                    font-size: 0.625em;
                    color: #000;
                    padding: 0 0 10/2px 0;
                    &:first-child{
                        font-size: 0.6875em;
                        padding: 0 0 20/2px 0;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    &:last-child{
                        padding: 0 0 26/2px 0;
                    }
                }
                &_hair {
                    float: left;
                }
                &_desk{
                    display: none;
                }
                &_tablet{
                    display: block;
                }
            }
            &-connect{
                display: none;
            }
            &-social{
                display: block;
                .clearfix;
                padding: 23px 10px 18px;
                &-item{
                    float: left;
                    width: 11%;
                    margin-right: 11%;
                    &:last-child{
                        margin-right: 0;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                    &_insta{
                        margin-right: 0;
                    }
                }
            }
            &-signup{
                position: relative;
                width: 100%;
                box-sizing: border-box;
                margin: 21px 0 26px;
                padding: 0 (46/560*100%) 0 (36/560*100%);
                bottom: 0;
                float: none;
                p{
                    font-size: (24/2/16em);
                    text-transform: uppercase;
                    padding-bottom: 16/2px;
                    text-align: center;
                }
                &_input{
                    width: 100%;
                    height: 65/2px;
                    padding: 20/2px (25/2/476*100%);
                    font-size: (11/2/16em);
                    border: 1px solid #ccc;
                    position: relative;
                    display: block;
                }
                &:after{
                    content: '';
                    position: absolute;
                    background: url(../images/signup.png) no-repeat;
                    background-size: 68/2px 65/2px;
                    width: 68/2px;
                    height: 65/2px;
                    right: 8.28%;
                    bottom: 0;
                }
            }
            &-tel{
                display: block;
                width: 100%;
                height: 123/2px;
                padding: 30/2px (32/560*100%);
                box-sizing: border-box;
                border-left: 0;
                border-bottom: 1px solid #000;
                border-top: 1px solid #000;
                float: none;
                color: #000;
                margin-bottom: 0;
                p{
                    float: left;
                    font-size: (24/2/16em);
                    text-transform: uppercase;
                    padding: 9px 19px 10px 2px;
                    border-right: 1px solid #ccc;
                    box-sizing: border-box;
                }
                span{
                    float: left;
                    font-size: (24/2/16em);
                    font-weight: normal;
                    padding: 22/2px 0 20/2px 30/2px;
                }
            }
        }
        &__nav-bottom{
            padding: 50px (40/640*100%) 46px;
            background: #000;
            .clearfix;
            &-item{
                float: none;
                display: inline-block;
                text-align: center;
                font-size: (24/16em);
//                padding-right: (58/688*100%);
                &:first-child{
                    display: block;
                    padding: 0;
                    font-size: (30/16em);
//                    float: none;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
            &-link{
                color: #fff;
            }
            &_map{
                display: none;
            }
            &_discon{
                display: none;
            }
            &_tel{
                display: none;
            }
            &_global{
                padding-right: 0;
                padding-left: (40/560*100%);
            }
            &_privacy{
                border-right: 1px solid #525252;
                padding-right: (38/560*100%);
            }
            &_terms{
                border-right: 1px solid #525252;
                padding-right: (38/560*100%);
                padding-left: (40/560*100%);
            }
        }
    }
    .nav-bottom{
        background: #000;
        padding: 0;
        &__i{
            &:extend(.container);
            .clearfix;
            padding: 0;
            margin-bottom: 12px;
        }
        .clearfix;
        &__item{
            float: none;
            display: inline-block;
            text-align: center;
            font-size: 1em;
            &:first-child{
                display: block;
                padding: 21px 0 0 0;
                font-size: 1.25em;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        &__link{
            color: #fff;
        }
        &__map{
            display: none;
        }
        &__discon{
            display: none;
        }
        &__tel{
            display: none;
        }
        &__global{
            margin: 11px 0;
            padding-right: 0;
            padding-left: 4.8%;
        }
        &__privacy{
            margin: 11px 0;
            border-right: 1px solid #525252;
            padding-right: (38/560*100%);
        }
        &__terms{
            margin: 11px 0;
            border-right: 1px solid #525252;
            padding-right: (38/560*100%);
            padding-left: 5%;
        }
    }
}