@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    width: 37px;
    height: 37px;
    position: absolute;
    background: #000;
    top: 50%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 1.9375em;
    color: transparent;

    cursor: pointer;

    border: none;
    outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -58px;
    background: url("../../images/arrPrev.png") no-repeat;
    background-size: 37px;
}
/*[dir='rtl'] .slick-prev*/
/*{*/
    /*right: -58px;*/
    /*left: auto;*/
/*}*/

.slick-next
{
    right: -58px;
    background: url("../../images/arrNext.png") no-repeat;
    background-size: 37px;
}
/*[dir='rtl'] .slick-next*/
/*{*/
    /*right: auto;*/
    /*left: -58px;*/
/*}*/

@media only screen and (max-width: 1024px){
    .slick-prev,
    .slick-next
    {
        width: 30px;
        height: 30px;
    }
    .slick-prev
    {
        left: -45px;
        background-size: 30px;
    }
    /*[dir='rtl'] .slick-prev*/
    /*{*/
        /*right: -45px;*/
        /*left: auto;*/
    /*}*/

    .slick-next
    {
        right: -45px;
        background-size: 30px;
    }
    /*[dir='rtl'] .slick-next*/
    /*{*/
        /*right: auto;*/
        /*left: -45px;*/
    /*}*/
}
@media only screen and (max-width: 767px){
    .slick-prev,
    .slick-next
    {
        width: 20px;
        height: 20px;
    }
    .slick-prev
    {
        left: -31px;
        background-size: 20px;
    }
    /*[dir='rtl'] .slick-prev*/
    /*{*/
        /*right: -20px;*/
        /*left: auto;*/
    /*}*/

    .slick-next
    {
        right: -31px;
        background-size: 20px;
    }
    /*[dir='rtl'] .slick-next*/
    /*{*/
        /*right: auto;*/
        /*left: -20px;*/
    /*}*/
}